@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
    font-family: 'Short Stack', cursive;
    background: rgb(238, 238, 238);
}

body{
    margin: 0px;
}

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
 
}

.intro {
    
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    margin-bottom: 25px;
}

.bg-image {
    position: absolute;
    margin: 0px;
    height: 100vh;
    width: 50vw;
}


.focus {
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 1px 1px 1px gray;
}

.cover {
    height: 100vh;
    width: 45vw;
}
.cover-bg {
    position: absolute;
    width: 44vw;
    height: 15vh;
    background-color: black;
    top: 25vh;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    padding: 10px 10px 0px 0px;
  
   
    
}

.cover-logo {
  height: 15vh;
  align-items: center;
  
    
}

figcaption {
    position: absolute;
    top: 98vh;
    left: 10vw;
    color: white;
}

legend {
    padding : 15px;
}



.intro {
    position: absolute;
    left: 45vw;
    top: 10vh;
    margin: 15px;
}

.sign-up {
    position: absolute;
    width: 55%;
    left: 45vw;
    top: 40vh;

}
.information-container {
    border: 1px solid rgb(206, 204, 204);
    box-shadow: 1px 5px 3px rgb(206, 204, 204);
    background-color: white;  
    display: flex;
    justify-content: space-evenly;
}

.info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.info-2 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#login {
    color: #596D48;
    text-decoration: none;    
}

.login {
    padding: 40px 0px 0px 40px;
    
}

input {
   margin-bottom: 20px;
}

input:valid {
    border-color: rgb(0, 128, 0);
}

input:invalid {
    border-color: rgb(255, 0, 0);
}