@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
    font-family: 'Short Stack', cursive;
}

body{
    margin: 0px;
}

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}



.intro {
    
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 6px;
    width: 170px;
    height: 40px;
}

.bg-image {
    position: absolute;
    margin: 0px;
}


.focus {
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 1px 1px 1px gray;
}

img {
    height: 100vh;
    width: 45vw;
}

figcaption {
    position: absolute;
    top: 98vh;
    left: 10vw;
    z-index: 1;
    color: white;
}

.intro {
    position: absolute;
    left: 45vw;
    top: 10vh;
    margin: 15px;
}

.sign-up {
    position: absolute;
    left: 45vw;
    top: 30vh;
    margin: 15px;
}

.info {
    border: 1px solid rgb(206, 204, 204);
    box-shadow: 1px 5px 3px rgb(206, 204, 204);
    
}

#login {
    color: #596D48;
    text-decoration: none;
    
}

.login {
    font-family: 'Short Stack', cursive;
}

input:valid {
    border-color: rgb(0, 128, 0);
}

input:invalid {
    border-color: rgb(255, 0, 0);
}